{% extends 'PublicBundle::layout.html.twig' %}
{% block title %}CONTACTO{% endblock %}
{% block description %}{% endblock %}
{% block article %}

<section class="content">
    <header class="page-header">
      <h1>COMING SOON / PRONTO A TU SERVICIO</h1>
    </header>
    <section>
      <div class="row">
        <div class="span12">
          <div class="hero-unit hero-color">
            <h1>COMING SOON</h1>
            <p> Estamos trabajando en la nueva web de de los productos de furgomania orientada a usuarios de furgonetas VolksWagen, te esperamos pronto de momento puedes...</p>
            <a href="http://www.furgomania.com/es/" class="btn btn-large btn-inverse">ir a Furgomania</a> </div>
        </div>
      </div>
    </section>
  </section>


{% endblock %}