{% extends 'PublicBundle::layout.html.twig' %}
{% block title %}CONTACTO{% endblock %}
{% block description %}{% endblock %}
{% block article %}



	<section>
      <div class="row">
        <div class="span12">
          <div class="hero-unit hero-color">
            <h1 class="headerQuote alignCenter">Muchas gracias por tu interes, {{ contacto.name }}<br>
              <small>Hemos recibido correctamente tu mensaje, te contestaremos en breve</small></h1>
          </div>
        </div>
      </div>
    </section>

<!-- Google Code for Cliente potencial Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 926919748;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "p3viCInft2QQxNj-uQM"; 
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript"  
src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""  
src="//www.googleadservices.com/pagead/conversion/926919748/?label=p3viCInft2QQxNj-uQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endblock %}

{% block head %}

      <!-- Google Code for Formulario de contacto Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 957907422;
    var google_conversion_language = "es";
    var google_conversion_format = "1";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "53LtCIyll1gQ3oPiyAM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/957907422/?label=53LtCIyll1gQ3oPiyAM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript> 
    

<!-- Facebook Conversion Code for Contacto -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6019003671100', {'value':'0.00','currency':'EUR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6019003671100&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>

    

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>

<script type="text/javascript">

twttr.conversion.trackPid('l59mw');</script>

<noscript>

<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l59mw&p_id=Twitter" />

<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l59mw&p_id=Twitter" /></noscript>

    
{% endblock %}