{% extends 'PublicBundle::layout.html.twig' %}
{% block title %}Videos Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}



<section class="content">
    <header class="page-header">
      <h1>{{ "KITS AUTOINSTALABLES" | trans }} </h1>
    </header>
</section>

{#<section>
      <div class="row">
        <div class="span12">
          <div class="hero-unit hero-color">
            {% trans %}<strong>IMPORTANTE:</strong> Los vídeos que ve a continuación son solo un ejemplo de cómo se montan nuestros kits y convierten su vehículo, en pocos minutos, en una furgoneta camper. Todos nuestros kits, sea el modelo de furgoneta que sea, se instalan de igual manera (sin herramientas, sin taller, sin tener que pasar I.T.V., sin instrucciones){% endtrans %}
          </div>
        </div>
      </div>
</section>#}
  
  
<section class="videoWrapper" id="kitcama">
    <div class="container">
      <div class="row">
        <div class="span12">
			<br />
			<h2>Kits Autoinstalables<span> {% trans %}la solución más competitiva del mercado{% endtrans %}</span></h2>
			<section class="video video-container">
				<iframe src="https://www.youtube.com/embed/_EWoSOuvS6o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</section>
        </div>
      </div>
    </div>
</section>


<section class="videoWrapper" id="kitcama">
    <div class="container">
      <div class="row">
        <div class="span12">
			<br />
			<h2>Camperiza tu Volkswagen T5/T6  <span> {% trans %} con los Kits Autoinstalables{% endtrans %}</span></h2>
			<section class="video video-container">
				<iframe src="https://www.youtube.com/embed/aVjUnMCh-64?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</section>
        </div>
      </div>
    </div>
</section>


<section class="videoWrapper" id="kitcama">
    <div class="container">
      <div class="row">
        <div class="span12">
        <br />
			<h2>Kit Cama Basic para tu Transporter T5/T6 (Versión española)<span>{% trans %}una solución básica muy completa para camperizar tu furgo{% endtrans %}</span></h2>
			<section class="video video-container">
				<iframe src="http://player.vimeo.com/video/78682434" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</section>
        </div>
      </div>
    </div>
</section>
  
  
  
<section class="videoWrapper mb40" id="kit41">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
			<br />
			<h2>Kit Cama Basic Transporter T5 / T6  (Version française)</h2>
			<section class="video video-container">
				<iframe src="http://www.youtube.com/embed/5FdboIlajHw?rel=0&amp;showinfo=0" frameborder="0"></iframe>
			</section>
		</div>
	  </div>
	</div>
</section>

{% endblock %}