{% extends 'PublicBundle::layout.html.twig' %}
{% block title %}Videos Furgomania{% endblock %}
{% block description %}{% endblock %}
{% block article %}


<section class="content">
    <header class="page-header">
      <h1>{{ "KITS AUTOINSTALABLES" | trans }} </h1>
    </header>
</section>

<section>
      <div class="row">
        <div class="span12">
          <div class="hero-unit hero-color">
            {% trans %}<strong>IMPORTANTE:</strong> Los vídeos que ve a continuación son solo un ejemplo de cómo se montan nuestros kits y convierten su vehículo, en pocos minutos, en una furgoneta camper. Todos nuestros kits, sea el modelo de furgoneta que sea, se instalan de igual manera (sin herramientas, sin taller, sin tener que pasar I.T.V., sin instrucciones){% endtrans %}
          </div>
        </div>
      </div>
</section>
  
  
<section class="videoWrapper" id="kitcama">
    <div class="container">
      <div class="row">
        <div class="span12">
			<br />
			<h2>Kits Autoinstalables<span> {% trans %}la solución más competitiva del mercado{% endtrans %}</span></h2>
			<section class="video">
				<iframe src="http://www.youtube.com/embed/Qj7F7FIioyc" width="100%" height="397" frameborder="0"></iframe>
			</section>
        </div>
      </div>
    </div>
</section>


<section class="videoWrapper" id="kitcama">
    <div class="container">
      <div class="row">
        <div class="span12">
			<br />
			<h2>Camperiza tu Volkswagen T5/T6<span> {% trans %}con los Kits Autoinstalables{% endtrans %}</span></h2>
			<section class="video">
				<iframe src="http://www.youtube.com/embed/Wjj2bevkB90" width="100%" height="397" frameborder="0"></iframe>
			</section>
        </div>
      </div>
    </div>
</section>


<section class="videoWrapper" id="kitcama">
    <div class="container">
      <div class="row">
        <div class="span12">
        <br />
			<h2>Kit Cama Basic<span>{% trans %}una solución básica muy completa para camperizar tu furgo{% endtrans %}</span></h2>
			<section class="video">
				<iframe src="http://www.youtube.com/embed/C2tzA4izbfU" width="100%" height="397" frameborder="0"></iframe>
			</section>
        </div>
      </div>
    </div>
</section>
  
  
  
<section class="videoWrapper mb40" id="kit41">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
			<br />
			<h2>Kit Cama 4 en 1<span>{% trans %}la solución más completa para camperizar tu furgo{% endtrans %}</span></h2>
			<section class="video">
				<iframe src="http://www.youtube.com/embed/wmEezqYwr0c" width="100%" height="397" frameborder="0"></iframe>
			</section>
		</div>
	  </div>
	</div>
</section>


<div class="container">
    <div class="row">
		<div class="span12">
			<h2>NUESTRA HISTORIA, AÑOS 2002-2010</h2>
		</div>
	</div>
</div>

<section class="videoWrapper mb40">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
			<section class="video">
				<iframe src="https://www.youtube.com/embed/p_4Jo8-iYn0" width="100%" height="397" frameborder="0"></iframe>
			</section>
		</div>
	  </div>
	</div>
</section>

<section class="videoWrapper mb40">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
			<section class="video">
				<iframe src="https://www.youtube.com/embed/hWFUtnwUtEU" width="100%" height="397" frameborder="0"></iframe>
			</section>
		</div>
	  </div>
	</div>
</section>

<section class="videoWrapper mb40">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
			<section class="video">
				<iframe src="https://www.youtube.com/embed/KSoFFT7Qprs" width="100%" height="397" frameborder="0"></iframe>
			</section>
		</div>
	  </div>
	</div>
</section>

<section class="videoWrapper mb40">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
			<section class="video">
				<iframe src="https://www.youtube.com/embed/S-Ij0VX2XO4" width="100%" height="397" frameborder="0"></iframe>
			</section>
		</div>
	  </div>
	</div>
</section>

<section class="videoWrapper mb40">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
			<section class="video">
				<iframe src="https://www.youtube.com/embed/sTjK6i9ijuc" width="100%" height="397" frameborder="0"></iframe>
			</section>
		</div>
	  </div>
	</div>
</section>

<section class="videoWrapper mb40">
    <div class="container">
      <div class="row mb25">
        <div class="span12">
			<section class="video">
				<iframe src="https://www.youtube.com/embed/jGKZCcDH9iU" width="100%" height="397" frameborder="0"></iframe>
			</section>
		</div>
	  </div>
	</div>
</section>

{% endblock %}